<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>img</key>
		<string>市南</string>
		<key>title</key>
		<string>市南</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>市北</string>
		<key>title</key>
		<string>市北</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>崂山</string>
		<key>title</key>
		<string>崂山</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>李沧</string>
		<key>title</key>
		<string>李沧</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>城阳</string>
		<key>title</key>
		<string>城阳</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>黄岛</string>
		<key>title</key>
		<string>黄岛</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>即墨</string>
		<key>title</key>
		<string>即墨</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>莱西</string>
		<key>title</key>
		<string>莱西</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>胶州</string>
		<key>title</key>
		<string>胶州</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
	<dict>
		<key>img</key>
		<string>平度</string>
		<key>title</key>
		<string>平度</string>
		<key>url</key>
		<string>http://bbs.qtv.com.cn/forum-262-1.html</string>
	</dict>
</array>
</plist>
