<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>酒店圈</string>
		<key>icon</key>
		<string>酒店圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>茶艺圈</string>
		<key>icon</key>
		<string>茶艺圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>购物圈</string>
		<key>icon</key>
		<string>购物圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>古玩圈</string>
		<key>icon</key>
		<string>古玩圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>婚庆圈</string>
		<key>icon</key>
		<string>婚庆圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>家居圈</string>
		<key>icon</key>
		<string>家居圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>健康圈</string>
		<key>icon</key>
		<string>健康圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>教育圈</string>
		<key>icon</key>
		<string>教育圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>金融圈</string>
		<key>icon</key>
		<string>金融圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>酒水圈</string>
		<key>icon</key>
		<string>酒水圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>咖啡圈</string>
		<key>icon</key>
		<string>咖啡圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>品牌圈</string>
		<key>icon</key>
		<string>品牌圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>汽车圈</string>
		<key>icon</key>
		<string>汽车圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>通讯圈</string>
		<key>icon</key>
		<string>通讯圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>艺术圈</string>
		<key>icon</key>
		<string>艺术圈</string>
	</dict>
	<dict>
		<key>name</key>
		<string>娱乐圈</string>
		<key>icon</key>
		<string>娱乐圈</string>
	</dict>
</array>
</plist>
